* {
  box-sizing: border-box;
}

html {
  background: #FFAEC1;
  color: #fff;
}

header {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.logo {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #fff;
  box-shadow:5px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 140px;
  margin-top: 55px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.yearbook {
width: 80%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
order: 2;
}

.yearbook p {
  color: #FF0055;
  text-align: center;
  padding-bottom: 5px;
  margin: auto;
  font-family: "open sans", sans-serif;
}

.card {
  width: 25%;
}

.inner {
 background-color: #FFDFE7;
 margin: 10px;
 padding: 5px;
 box-shadow:5px 10px rgba(0, 0, 0, 0.1);

}

.card img {
  width:90%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar {
  width: 10%;
  height: 100vh;
  background-color: #FFDFE7;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}

.left {
  order: 1;
  /* width: 15%; */
}

.right {
  order:3;
  /* width: 5%; */
}

.sidebar a {
  width: 80%;
  background-color: #FFAEC1;
  color: white;
  text-align: center;
  font-family: "open sans", sans-serif;
  text-decoration: none;
  padding:15px;
  box-shadow:2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar a:hover{
  color: #FFDFE7;
}

.footer {
  width: 100%;
  height: 50px;
  font-family: "open sans", sans-serif;
  font-style:italic;
  display: flex;
  justify-content: center;
}


@media (max-width: 600px){
  .yearbook .card {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    height: 100px;
    flex-direction: row;
  }

  .sidebar a {
    width: 20%;
    padding:15px;
  }

  .left {
    order: 2;
  }

  .right {
    order:3;
  }
}

@media (min-width: 600px) and (max-width: 900px) {

 .yearbook .card {
    width: 50%;
  }
}
